* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: minmax(100px, 350px) 1fr minmax(100px, 350px)
}

img {
    width: 100%;

}